# data 파일 제외
*.csv
*.png
*.html
*.xlsx
*.xls
*.json
*.txt
*.data
*.zip
*.jpg
*.tsv
*.DS_Store
*.pdf
*.pickle
*.exe
*.tar
*.gz
*.sh
*.dot

# pycache 파일 제외
*.pyc
tmp

# 특정 폴더 제외
**/cache
**/__pycache__
**/.ipynb_checkpoints
Python_data/DS/
ml/mglearn
ml/data/